
@{
    ViewData["Title"] = "Index";
}

<h1>TEST INDEXT </h1>
<h2>محمود طبزعلی</h2>
<p>نسخه‌های بدون حروف لاتین یا تمام ارقام فارسی درون بسته فشرده موجود است.</p>
<p style="font-family: 'Samim', sans-serif;">نسخه‌های بدون حروف لاتین یا تمام ارقام فارسی درون بسته فشرده موجود است.</p>


<p> Almost before we knew it, we had left the ground.</p>

<p style="font-family: 'Pacifico', sans-serif;"> Almost before we knew it, we had left the ground.</p>
 