@model NavigationMenuViewModel

<li class="dropdown megamenu-fw">
        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Product</a>
        <ul class="dropdown-menu megamenu-content" role="menu">
            <li>
                <div class="row">

                    @foreach (var item in Model.Categories)
                    {
                        var className = item.CategoryName == Model.CurentCategory ? "text-danger" : "";

                        <a asp-action="Index" asp-controller="Category" asp-route-category="@item.CategoryName"
                           asp-route-pageNumber="1" class="list-group-item className">@item.CategoryName sub</a>
                         
                        <div class="col-menu col-md-3">
                            @*<h1 class="title">@item.CategoryName sub</h1>*@
                            <div class="content">
                                <ul class="menu-col">
                                      
                                      

                                </ul>
                            </div>
                        </div>
                    }



                    <!-- end col-3 -->
                    <!-- end col-3 -->
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </li>
        </ul>
    </li>


     